## Brief introduction to R



### Interacting with the R Jupyter notebook

There are two types of Cells.
* "Markdown" cells allow you to write text like this one.
* The two cells below are "Code" cells. Type R commands into the cell and press shift-enter to compute the result.

In [65]:
2*3

[1] 6

In [66]:
10-3

[1] 7

A cell can be in "edit" mode or "command" mode.
* Edit mode is indicated by green cell border.  You can type into the cell.
* Command mode is indicated by a grey border with blue left margin.

### R variables

A variable has a name and a value. For example, in the cell below we are assigning the value 2\*3 to the variable x. Press shift-enter to evaluate it.  Note that this command does not print the result on the screen (why?).

In [67]:
x = 2*3

To view the content of the variable *x*, just type its name and press shift-enter.

In [68]:
x

[1] 6

All variables in R are called *objects*. There are multiple types of objects in R, including scalars, vectors, matrices, arrays, data frames, tables, and lists.

A *vector* is a collection of *elements* of the same type.
We can use the *c()* function to create a vector with the name *myvector*.

In [69]:
myvector = c(8,6,9,10,5)

Type the name of this vector to see its value.

In [70]:
myvector

[1]  8  6  9 10  5

We can extract elements in the vector by its *index*. Here we are getting the first (position 1) and the fourth (position 4) element in the vector.

In [71]:
myvector[1]

[1] 8

In [72]:
myvector[4]

[1] 10

A *list* can contain elements of different types, for example, numbers or strings, or even vector. We can use the *list()* function to create a list. Values in the list can have names.

In [73]:
mylist = list("USA"="Washington DC","Canada"="Ottawa",myvector)

To see the content of *mylist*, just type its name.

In [74]:
mylist

$USA
[1] "Washington DC"

$Canada
[1] "Ottawa"

[[3]]
[1]  8  6  9 10  5

We can get individual elements of the list by the name or the index using *double square brackets*.

In [75]:
mylist[["Canada"]]

[1] "Ottawa"

In [76]:
mylist[[3]]

[1]  8  6  9 10  5

The *attributes* function gets all the names in the list.

In [77]:
attributes(mylist)

$names
[1] "USA"    "Canada" ""

### R functions
A *function* in R performs some calculations on input variables called *arguments* that are inside a round bracket. For example the log10() function calculates the base 10 log of the number passed in the round bracket.

In [78]:
log10(100)

[1] 2

The *mean* function calculates the mean of a vector.

In [79]:
mean(myvector)

[1] 7.6

The *table* function takes a vector, finds all the possible unique values in the vector, and calculates the number of times that each value appears in the vector.

In [3]:
class_majors = c("Psychology","Public Health","Biology","Biology","Computer Science","Biology")
table(class_majors)

class_majors
         Biology Computer Science       Psychology    Public Health
               3                1                1                1

Functions can take multiple arguments. The *log(x,y)* function takes the base *y* log of *x*.

In [80]:
log(16,2)

[1] 4

In [81]:
log(27,3)

[1] 3

### Getting help on functions
A lot of functions that come with R or R packages provides *inline help*. This allows you to see how to call the functions and what the functions do.

Usually you can just type ? before the function name.

Try getting help for the *log* function.

In [82]:
?log

And the *mean* function.

In [83]:
?mean